<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Spring Security - OAuth2 Login</title>
    <meta charset="utf-8" />
</head>
<body>
<h1>OAuth2 Login with Spring Security</h1>
<div>
    You are successfully logged in <span sec:authentication="name"></span> by <span style="font-weight:bold" th:text="${loginBy}"></span>
<!--    via the OAuth2 Client <span style="font-weight:bold" th:text="${clientName}"></span>-->
    <br>
    <span style="font-weight:bold">User: </span><span style="font-weight:bold" th:text="${userName}"></span>
</div>
<div>&nbsp;</div>
<div>
    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>
</div>
<div>&nbsp;</div>
<div>
    <a href="/userinfo" th:href="@{/userinfo}">Display User Information</a>
</div>
</body>
</html>